@import "tailwindcss";

:root {
  
}

@theme {
  
}

@utility text-shadow-none {
  text-shadow: none;
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Nunito Sans", serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-3xl
  }

  h2 {
    @apply text-2xl
  }
}

@layer components {
  .btn {
    @apply min-w-12 h-12 p-2 px-4 bg-blue-600 text-white cursor-pointer transition-colors rounded-md active:bg-blue-500;
  }

  .btn-text {
    @apply flex items-center h-10 justify-center gap-2 font-semibold select-none;
  }

  .btn-red {
    @apply bg-red-600 active:bg-red-500;
  }

  .btn-sm {
    @apply min-w-8 h-8 p-0;
  }

  .modal {
    @apply fixed w-full h-full top-0 left-0 justify-center items-center bg-zinc-800/40 open:flex;
  }

  .modal > div {
    @apply w-[80%] max-w-[500px] min-w-[280px] p-4 rounded-md bg-zinc-200
  }

  .modal .modal-header {
    @apply flex justify-between items-center mb-6;
  }

  .toast .body {
    @apply !bg-blue-600 !text-white !shadow-xl !text-shadow-none;
  }

  .toast .body.info {
    @apply !bg-blue-600 !text-white !shadow-xl
  }

  .toast .body.error {
    @apply !bg-red-500 !text-white !shadow-xl
  }

  @media (pointer-events: none) {
    .btn {
      @apply cursor-default;
    }
  }
}